@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Courier Prime", system-ui;
  overflow-x: clip;
  margin: 0;
  min-height: 100vh;
}

.opening {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #2d2d2a;
  margin: 0;
  overflow: hidden;
}

.titleName {
  font-family: "Special Elite", system-ui;
  font-size: 48px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 40px;
}

.opening img {
  width: 300px;
  filter: grayscale();
  transition: all 1s ease;
}

.opening img:hover {
  filter: none;
}

.opening .imgContainer {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.albumButton {
  border: none;
  background-color: transparent;
}

/* Main landing page */

.mainPage {
  background-color: #2d2d2a;
  text-align: center;
}

.navbar {
  display: flex;
  width: 80%;
  padding: 40px 0;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-between;
}

.navlist {
  width: 80%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;

  font-family: "Special Elite", system-ui;
  color: #969696;
  font-size: 1.2rem;
}

.navlist li:hover {
  cursor: pointer;
  color: #ffffff;
}

.sectionHero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleAlbum {
  font-family: "Courier Prime", system-ui;
  font-size: 100px;
  font-weight: 400;
  text-transform: uppercase;
  color: #f8d888;
  margin: 60px 0 20px;
}

.heroParagraph {
  font-family: "Abhaya Libre", system-ui;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #cccccc;
  width: 50%;
  max-width: 1000px;
  margin: 0 0 40px;
}

.sectionWave {
  background-image: url("/images/wave.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 420px;
}
.exploreBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
  top: -16px;
  text-decoration: none;
  cursor: pointer;

  border: none;
  background-color: transparent;
}
.exploreBtn span {
  margin-top: 8px;
  font-family: "Urbanist", system-ui;
  color: #858585;
  letter-spacing: 1.2px;
  font-size: 12px;
}

.sectionDebris {
  background-image: url("/images/debris-texture.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  position: relative;
  top: -160px;
  margin-bottom: -170px;
}

.sectionMap::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: url("/images/bg/texture.png"),
    url("/images/bg/texture-2.png");
  background-color: #ffc59a;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-blend-mode: normal, multiply;
  background-position: center, bottom;
}

.sectionMap {
  position: relative;
  z-index: 0;
  background-color: #ffc59a;
  width: 100%;
  padding: 40px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.mapHeading {
  font-size: 2.4rem;
  color: #5d0000;
  width: 50%;
  max-width: 1000px;
}

.mapParagraph {
  margin: 40px 0;
  width: 60%;
  max-width: 1200px;
  font-family: "Abhaya Libre", system-ui;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 1.5px;
}

.mapButton {
  border: none;
  background-color: transparent;
}

.hidden {
  opacity: 0;
}

.nodisplay {
  display: none;
}

.relative {
  position: relative;
}

.mapButton img {
  /* opacity: 1; */
  transition: opacity 1s ease-in;
}

@keyframes zoomMap {
  0% {
    background-image: url("/images/map-icon-2.png");
    background-size: 20vh;
  }
  /* 60% {
    background-image: url("/images/map.png");
    background-size: 30%;
  } */
  100% {
    background-image: url("/images/map.png");
    background-size: 95vh;
  }
}

.animationContainer {
  width: 100%;
  max-width: 1200px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  align-items: center;
}

.justifyCenter {
  display: flex;
  justify-content: center;
}
.justifyStart {
  display: flex;
  justify-content: flex-start;
}
.justifySpaceBetween {
  display: flex;
  justify-content: space-between;
}

.animateMap {
  animation: zoomMap 5s ease-in;
  animation-delay: 200ms;
  height: 100vh;
}

.mapImg {
  width: 95vh;
  height: auto;
}

.mapBeforeSlide {
  width: 100%;
}

.mapSlideLeft {
  transform: translateX(calc(0px - ((min(100%, 1200px) - 95vh) / 2)));
  /* transform: translateX(-30px); */
  transition: all 1s ease-in-out;
}
@keyframes slideBack {
  0% {
    transform: translateX(calc(0px - ((min(100%, 1200px) - 95vh) / 2)));
  }
  100% {
    transform: translateX(0);
  }
}
.mapSlideBack {
  animation: slideBack 1s ease-in-out;
  /* transform: translateX(calc(((min(100%, 1200px) - 95vh) / 2))); */
  /* transform: translateX(300px); */
  /* transition: all 1s ease-in-out; */
}

/* Pins */
.pinButton {
  border: none;
  border-radius: 50%;
  background-color: transparent;
}
.pinImg {
  width: 7vh;
}
.pin {
  position: absolute;
}
.pinOne {
  top: 10vh;
  /* right: 41vh; */
  right: calc((100% - 95vh) / 2 + 41vh);
}
.pinTwo {
  bottom: 20vh;
  right: calc((100% - 95vh) / 2 + 6vh);
}
.pinThree {
  bottom: 35vh;
  right: calc((100% - 95vh) / 2 + 2vh);
}

/* player */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.audioPlayer {
  height: 70vh;
  width: 52vh;
  /* border: solid 2px #000; */
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  animation: fadeIn 1s ease-in;
  font-family: "Urbanist", system-ui;
}
.playerCloseBtn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 12px;
  cursor: pointer;
}
.playerImg {
  height: 55%;
  width: 100%;
  position: relative;
  padding: 20px;
}
.trackoneImg {
  background: url("/images/player/01-img.png"),
    linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background-size: auto 100%;
  background-position: center;
  background-blend-mode: multiply;
}
.tracktwoImg {
  background: url("/images/player/02-img.jpg"),
    linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background-size: auto 100%;
  background-position: center;
  background-blend-mode: multiply;
}
.trackthreeImg {
  background: url("/images/player/03-img.jpeg"),
    linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background-size: auto 100%;
  background-position: center;
  background-blend-mode: multiply;
}
.playerButtons {
  display: flex;
  justify-content: space-evenly;
}
.playBtn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(250, 250, 250, 1);
  border: none;
  padding: 0;
}
.playerCtrl {
  /* border: solid 1px #000; */
  width: 100%;
  height: 45%;
  padding: 20px;
  background: radial-gradient(
    141.39% 86.82% at 50% 0%,
    #830606 0%,
    #000000 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.playerDesc {
  height: 25%;
  display: flex;
}
.playerDesc img {
  width: auto;
}
.readMoreBtn {
  position: absolute;
  bottom: 20px;

  /* width: 100%; */
  width: calc(100% - 40px);
  height: 40px;
  margin: 0 auto;
  border-radius: 18px;
  border: solid 0.9px rgba(166, 166, 166, 1);
  background: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.7);

  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Urbanist", system-ui;
  font-size: 14px;

  cursor: pointer;
  transition: all 0.3s ease-out;
}
.readMoreBtn:hover {
  color: #fff;
  background-color: #343434;
  border: solid 1px #2a2a2a;
}
.streamBtn {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  border-radius: 18px;
  border: solid 0.9px #a6a6a6;
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  transition: all 0.6s ease-out;
}
.streamBtn:hover {
  background: #d60f0f;
  color: #fff;
}

.trackTitle {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 10px;
}
.trackTitle p,
.trackTitle h2 {
  margin: 0;
}

.trackTitle p {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.7);
}
.trackTitle h2 {
  font-size: 1.2rem;
  color: #fff;
}

.descOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.fadeIn {
  animation: fadeIn 1s ease-out;
}
.fadeOut {
  animation: fadeOut 1s ease-out;
}

.closeDescBtn {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  left: 12px;
  cursor: pointer;
}

.trackStoryTxt {
  color: #bdbdbd;
  font-size: 14px;
  letter-spacing: 0.06rem;
  text-align: left;

  width: 65%;
  margin: 30px auto 0;
}
