@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Courier Prime", system-ui;
  overflow-x: clip;
  margin: 0;
}

.opening {
  width: 100vw;
  height: 100vh;
  background-color: #2d2d2a;
  margin: 0;
  overflow: hidden;
}

.titleName {
  font-family: "Special Elite", system-ui;
  font-size: 48px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 40px;
}
