@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Courier Prime", system-ui;
  overflow-x: clip;
  margin: 0;
  min-height: 100vh;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.opening {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #2d2d2a;
  margin: 0;
  overflow: hidden;
  background: url("/images/bg/texture-2.png"), rgba(45, 45, 42, 1);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.titleName {
  font-family: "Special Elite", system-ui;
  font-size: 48px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin: 0;
  padding-top: 40px;
}

.opening img {
  width: 300px;
  filter: grayscale();
  transition: all 1s ease;
}

.opening img:hover {
  filter: none;
}

.opening .imgContainer {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/* .albumButton {
  border: none;
  background-color: transparent;
} */

/* Main landing page */

.mainPage {
  background-color: #000;
  text-align: center;
  position: relative;
}

.bgImg {
  background: url("/images/bg/hero-bg.jpeg"),
    linear-gradient(180deg, #000000 10.39%, rgba(0, 0, 0, 0) 100%);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  position: absolute;
  /* top: -50px; */
  bottom: -180px;
  z-index: 0;
  width: 100%;
  height: 100vh;
}

.navbar {
  display: flex;
  width: 80%;
  padding: 40px 0;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-between;
  background: transparent;

  position: relative;
  z-index: 1;
}

.navlist {
  width: 80%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}
.navlist button,
.navlist a {
  text-decoration: none;
  font-family: "Special Elite", system-ui;
  color: #969696;
  font-size: 1.2rem;
}

.navlist button:hover,
.navlist a:hover {
  /* cursor: pointer; */
  color: #ffffff;
}
.purchaseBtn {
  border: 1px solid rgba(90, 90, 90, 1);
  border-radius: 20px;
  background: rgba(1, 1, 1, 1);
  width: 250px;
  height: 50px;
  transition: all 0.3s ease-in;

  display: flex;
  justify-content: center;
  align-items: center;
}
.navlist a.purchaseBtn:hover {
  background: rgba(248, 216, 136, 1);
  border: 1px solid rgba(42, 42, 42, 1);
  color: rgba(1, 1, 1, 1);
}

.sectionHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.titleAlbum {
  font-family: "Courier Prime", system-ui;
  font-size: 100px;
  font-weight: 400;
  text-transform: uppercase;
  color: #f8d888;
  margin: 60px 0 20px;

  position: relative;
  z-index: 1;
}

.heroParagraph {
  font-family: "Abhaya Libre", system-ui;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #cccccc;
  width: 50%;
  max-width: 1000px;
  margin: 0 0 40px;

  position: relative;
  z-index: 1;
}

.sectionWave {
  background-image: url("/images/wave.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 420px;

  position: relative;
  z-index: 1;
}
.exploreBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
  top: -16px;
  text-decoration: none;
  /* cursor: pointer;

  border: none;
  background-color: transparent; */
}
.exploreBtn span {
  margin-top: 8px;
  font-family: "Urbanist", system-ui;
  color: #858585;
  letter-spacing: 1.2px;
  font-size: 12px;
}
.exploreBtn:hover span {
  color: rgba(255, 255, 255, 1);
  letter-spacing: 1.7px;
}

.sectionDebris {
  background-image: url("/images/debris-texture.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  position: relative;
  top: -160px;
  margin-bottom: -170px;
}

.sectionMap::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: url("/images/bg/texture.png"),
    url("/images/bg/texture-2.png");
  background-color: #ffc59a;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-blend-mode: normal, multiply;
  background-position: center, bottom;
  background-size: 100%;
}

.sectionMap {
  position: relative;
  z-index: 0;
  background-color: #ffc59a;
  width: 100%;
  padding: 40px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.mapHeading {
  font-size: 2.4rem;
  color: #5d0000;
  width: 50%;
  max-width: 1000px;
}

.mapParagraph {
  margin: 40px 0;
  width: 60%;
  max-width: 1200px;
  font-family: "Abhaya Libre", system-ui;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 1.5px;
}

/* .mapButton {
  border: none;
  background-color: transparent;
} */

.hidden {
  opacity: 0;
}

.nodisplay {
  display: none;
}

.relative {
  position: relative;
}
.flexrow {
  display: flex;
}
.flexcol {
  display: flex;
  flex-direction: column;
}
.width75 {
  max-width: 75%;
}

.mapButton img {
  /* opacity: 1; */
  transition: opacity 1s ease-in;
}
.mapButton p {
  font-family: "Abhaya Libre", system-ui;
  color: rgba(163, 124, 95, 1);
  font-size: 18px;
}
.mapButton:hover p {
  color: rgba(45, 45, 42, 1);
}

@keyframes zoomMap {
  0% {
    background-image: url("/images/map-icon-2.png");
    background-size: 20vh;
  }
  100% {
    background-image: url("/images/map.png");
    background-size: 95vh;
  }
}

.animationContainer {
  width: 100%;
  max-width: 1200px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  align-items: center;
}

.justifyCenter {
  display: flex;
  justify-content: center;
}
.justifyStart {
  display: flex;
  justify-content: flex-start;
}
.justifySpaceBetween {
  display: flex;
  justify-content: space-between;
}

.animateMap {
  animation: zoomMap 2.5s ease-in-out;
  animation-delay: 200ms;
  height: 100vh;
}

.mapImg {
  width: 95vh;
  height: auto;
}

.mapBeforeSlide {
  width: 100%;
}

.mapSlideLeft {
  transform: translateX(calc(0px - ((min(100%, 1200px) - 95vh) / 2)));
  /* transform: translateX(-30px); */
  transition: all 1s ease-in-out;
}
@keyframes slideBack {
  0% {
    transform: translateX(calc(0px - ((min(100%, 1200px) - 95vh) / 2)));
  }
  100% {
    transform: translateX(0);
  }
}
.mapSlideBack {
  animation: slideBack 1s ease-in-out;
  /* transform: translateX(calc(((min(100%, 1200px) - 95vh) / 2))); */
  /* transform: translateX(300px); */
  /* transition: all 1s ease-in-out; */
}

/* Pins */
.pinButton {
  border-radius: 50%;
  /* background-color: transparent;
  border: none; */
}
.pinImg {
  width: 6vh;
}
.pin {
  position: absolute;
}
.pinOne {
  top: 10vh;
  /* right: 41vh; */
  right: calc((100% - 95vh) / 2 + 41vh);
}
.pinTwo {
  bottom: 20vh;
  right: calc((100% - 95vh) / 2 + 6vh);
}
.pinThree {
  bottom: 35vh;
  right: calc((100% - 95vh) / 2 + 2vh);
}
.pinFour {
  bottom: 29vh;
  right: calc((100% - 95vh) / 2 + 7vh);
}
.pinFive {
  top: 3vh;
  right: calc((100% - 95vh) / 2 + 20vh);
}
.pinSix {
  bottom: 38vh;
  right: calc((100% - 95vh) / 2 + 78vh);
}
.pinSeven {
  bottom: 25vh;
  right: calc((100% - 95vh) / 2 + 13vh);
}
.pinEight {
  top: 17vh;
  right: calc((100% - 95vh) / 2 + 60vh);
}
.pinNine {
  top: 2vh;
  right: calc((100% - 95vh) / 2 + 50vh);
}

/* player */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.audioPlayer {
  height: 70vh;
  width: 54vh;
  /* border: solid 2px #000; */
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  animation: slideLeft 0.6s ease-out;
  font-family: "Urbanist", system-ui;
}
.imgOverlay {
  height: 100%;
}
.barDecor {
  position: absolute;
  top: 20px;
  left: 20px;
  width: calc(100% - 85px);
  display: flex;
  justify-content: space-between;
}
.decor {
  width: 32%;
  height: 4px;
  border-radius: 45px;
  background: rgba(255, 255, 255, 0.4);
}
.decor.one {
  background: rgba(255, 255, 255, 1);
}
.playerCloseBtn {
  /* border: none;
  background-color: transparent;
  cursor: pointer; */
  position: absolute;
  top: 20px;
  right: 20px;
}
.playerImg {
  height: 55%;
  width: 100%;
  position: relative;
  padding: 20px;
  background-position: center;
  background-blend-mode: multiply;
  background-size: auto 100%, 100%;
  background-repeat: no-repeat;
}
.imgTxtDiv {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.imgTxt p {
  margin: 0;
  text-align: left;
  font-family: "Urbanist", system-ui;
}
.locTxt {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 2.2rem;
}
.coordTxt {
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 2px;
  font-size: 18px;
}
.readMoreBtn {
  /* position: absolute;
  bottom: 20px; */

  width: 100%;
  /* width: calc(100% - 40px); */
  height: 40px;
  margin: 0 auto;
  border-radius: 18px;
  border: solid 0.9px rgba(166, 166, 166, 1);
  background: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.7);

  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Urbanist", system-ui;
  font-size: 14px;

  cursor: pointer;
  transition: all 0.3s ease-out;
}
.readMoreBtn:hover {
  color: #fff;
  background-color: #343434;
  border: solid 1px #2a2a2a;
}
.trackoneImg {
  background-image: url("/images/player/01-img.jpg"),
    linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
.tracktwoImg {
  background-image: url("/images/player/02-img.jpg"),
    linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
.trackthreeImg {
  background-image: url("/images/player/03-img.jpeg"),
    linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
.trackfourImg {
  background-image: url("/images/player/04-img.jpeg"),
    linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background-size: 100%;
}
.trackfiveImg {
  background-image: url("/images/player/05-img.jpg"),
    linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background-size: 100%;
}
.tracksixImg {
  background-image: url("/images/player/06-img.jpeg"),
    linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
.tracksevenImg {
  background-image: url("/images/player/07-img.jpeg"),
    linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background-size: 100%;
}
.trackeightImg {
  background-image: url("/images/player/08-img.jpg"),
    linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
.tracknineImg {
  background-image: url("/images/player/09-img.jpeg"),
    linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background-size: 100%;
}
.playerButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: -20px auto 0 auto;
  width: 70%;
}
.skipBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(150, 150, 150, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.playBtn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(250, 250, 250, 1);
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.playerCtrl {
  /* border: solid 1px #000; */
  width: 100%;
  height: 45%;
  padding: 20px;
  background: radial-gradient(
    141.39% 86.82% at 50% 0%,
    #830606 0%,
    #000000 100%
  );

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.playerDesc {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.playerDesc img {
  width: auto;
}
.moreButtons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}
.moreButtons button {
  height: 42px;
  /* padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent; */
}
.btnInfo img,
.btnShare img {
  height: 100%;
}
.streamBtn {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  border-radius: 18px;
  border: solid 0.9px #a6a6a6;
  background: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  transition: all 0.6s ease-out;
}
.streamBtn:hover {
  background: #d60f0f;
  color: #fff;
}

.trackTitle {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 8px;
}
.trackTitle p,
.trackTitle h2 {
  margin: 0;
}

.trackTitle p {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.7);
}
.trackTitle h2 {
  font-size: 1.2rem;
  color: #fff;
}

.descOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.fadeIn {
  animation: fadeIn 1s ease-out;
}
.fadeOut {
  animation: fadeOut 1s ease-out;
}

.closeDescBtn {
  /* border: none;
  background-color: transparent;
  cursor: pointer; */
  position: absolute;
  top: 20px;
  left: 12px;
}

.trackStoryTxt {
  color: #bdbdbd;
  font-size: 14px;
  letter-spacing: 0.06rem;
  text-align: left;

  width: 65%;
  margin: 30px auto 0;
}

.bottomLayer {
  position: relative;
  background: rgba(1, 1, 1, 0.3);
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.btnBottomClose {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.shareLayer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.shareLayer p {
  margin: 0;
  padding: 0;
  font-family: "Urbanist", system-ui;
  color: #fff;
}
p.shareTitle {
  font-weight: 700;
  font-size: 20px;
  padding: 20px 0;
}
p.shareTxt {
  font-size: 16px;
  letter-spacing: 1.4px;
  padding: 12px 0;
}
.shareButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.socialBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(157, 157, 157, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialBtn:hover {
  background-color: rgba(238, 108, 77, 0.2);
}
.socialBtn svg {
  width: 30px;
  height: auto;
  color: #808080;
}
.socialBtn.wa svg {
  width: 20px;
}
.socialBtn:hover svg {
  color: rgba(238, 108, 77, 1);
}
.shareLink {
  margin: 0 auto;
  padding: 0 40px;
  width: auto;
  height: 36px;
  background-color: rgba(56, 56, 56, 1);
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.shareLink button {
  height: 19px;
}
.shareLink span {
  font-family: "Inter", system-ui;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}
.timeTxt {
  display: flex;
  justify-content: space-between;
  padding-top: 4px;

  color: #fff;
  font-size: 12px;
}
.bar {
  position: relative;
  width: 100%;
  height: 3.6px;
  border-radius: 20px;
  background: rgba(94, 90, 90, 1);
}
.progressBar {
  position: absolute;
  top: -0.4px;
  height: 4.4px;
  background: rgba(82, 215, 191, 1);
}
.circlePoint {
  position: absolute;
  top: -3.3px;
  right: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: rgba(82, 215, 191, 1);
  overflow: hidden;
}
.circleShadow {
  position: absolute;
  left: -4px;
  width: 11px;
  height: 11px;
  background-color: #fff;
  border-radius: 50%;
}

.sectionFooter {
  background-color: #000;
  color: #fff;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Urbanist", system-ui;
  font-size: 0.8rem;
  padding: 0 80px;
}

.sectionFooter > div {
  display: flex;
  align-items: center;
}
.sectionFooter span {
  padding: 20px;
}

.sectionFooter a {
  text-decoration: none;
  color: #fff;
}
.footerIcons {
  gap: 20px;
}
.footerIcons svg {
  width: 40px;
  color: rgba(128, 128, 128, 1);
}
.footerIcons a:hover svg {
  color: #fff;
}

.topBtnContainer {
  height: 120px;
  display: flex;
}
.toTopBtn {
  transition: all 2s ease;
  font-family: "Urbanist", system-ui;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upArrowOutCircle svg {
  width: 24px;
  height: auto;
}

.upArrowOutCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px dotted rgba(0, 0, 0, 1);
  background-color: rgba(236, 183, 143, 1);

  transition: all 0.4s ease;
  margin-bottom: 10px;
}
.upArrowInCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 214, 0, 1);
}

.toTopBtn:hover .upArrowOutCircle {
  background-color: rgba(223, 195, 124, 0.4);
  border: none;
  width: 80px;
  height: 80px;
}
.toTopBtn:hover .upArrowInCircle {
  width: 60px;
  height: 60px;
}
