@keyframes zoomMap {
  0% {
    background-image: url("/images/map-icon-2.png");
    background-size: 20vh;
    height: 100vh;
    background-position: top;
  }
  100% {
    background-image: url("/images/map.png");
    background-size: 90vw;
    height: 100vh;
    background-position: top;
  }
}
.mobileAbsolute {
  position: absolute;
}

.mapImg {
  width: 90vw;
}
.pinImg {
  width: 7vw;
}
.pinOne {
  right: calc((100% - 90vw) / 2 + 43%);
}
.pinTwo {
  right: calc((100% - 90vw) / 2 + 12%);
}
.pinThree {
  right: calc((100% - 90vw) / 2 + 2%);
}
.pinFour {
  right: calc((100% - 90vw) / 2 + 5%);
}
.pinFive {
  right: calc((100% - 90vw) / 2 + 19%);
}
.pinSix {
  right: calc((100% - 90vw) / 2 + 88%);
}
.pinSeven {
  right: calc((100% - 90vw) / 2 + 6.5%);
}
.pinEight {
  right: calc((100% - 90vw) / 2 + 63%);
}
.pinNine {
  right: calc((100% - 90vw) / 2 + 51.5%);
}

.animationContainer {
  position: relative;
  justify-content: center;
}
.animateMap {
  height: 100vw;
}
.mapSlideLeft,
.mapSlideBack {
  transform: none;
  transition: none;
  animation: none;
}
.audioPlayer {
  position: absolute;
  top: 4vw;
  left: calc(50vw - (min(80vw, 400px) / 2));
  margin: 0 auto;

  width: 80vw;
  max-width: 400px;
  height: calc(min(80vw, 400px) * 3 / 2);
}
