@keyframes enterSeq {
  0% {
    transform: scale(1.2);
    filter: none;
  }
  25% {
    transform: scale(1.5) translateX(0);
    filter: none;
  }
  40% {
    transform: scale(1.5) translateX(0);
    filter: none;
  }
  100% {
    transform: scale(1.5) translateX(-60vw);
    filter: none;
  }
}
@keyframes enterSeq2 {
  0% {
    transform: scale(1.2);
    filter: none;
  }
  25% {
    transform: scale(1.5) translateX(0);
    filter: none;
  }
  40% {
    transform: scale(1.5) translateX(10vw);
    filter: none;
  }
  100% {
    transform: scale(1.5) translateX(60vw);
    filter: none;
  }
}

@-webkit-keyframes enterSeq {
  0% {
    -webkit-transform: scale(1.2);
    -webkit-filter: none;
  }
  25% {
    -webkit-transform: scale(1.5) translateX(0);
    -webkit-filter: none;
  }
  40% {
    -webkit-transform: scale(1.5) translateX(0);
    -webkit-filter: none;
  }
  100% {
    -webkit-transform: scale(1.5) translateX(-60vw);
    -webkit-filter: none;
  }
}
@-webkit-keyframes enterSeq2 {
  0% {
    -webkit-transform: scale(1.2);
    -webkit-filter: none;
  }
  25% {
    -webkit-transform: scale(1.5) translateX(0);
    -webkit-filter: none;
  }
  40% {
    -webkit-transform: scale(1.5) translateX(10vw);
    -webkit-filter: none;
  }
  100% {
    -webkit-transform: scale(1.5) translateX(60vw);
    -webkit-filter: none;
  }
}
.titleName {
  font-size: 30px;
}
.albumButton,
.albumImg {
  width: 160px;
}
.vinylImg {
  width: 150px;
}

/* .albumButton {
  margin-bottom: 160px;
}
.acknowledgement {
  height: 160px;
} */
.acknowledgement p {
  font-size: 12px;
}
.bgImg {
  max-width: 100vw;
  top: 0;
  background-position: calc(0px - 490px + 50vw) calc(430px - 100vw);
  background-size: 900px auto;
  height: 780px;
}

.titleAlbum {
  font-size: 70px;
  margin: 20px 0;
  width: 70%;
}

.heroParagraph {
  font-size: 1.4rem;
  line-height: 2rem;
  width: 70%;
  margin: 0 0 40px;
}

.sectionWave {
  top: 100px;
}
.exploreBtn {
  top: -116px;
}
.sectionDebris {
  top: -60px;
}
.mapHeading {
  font-size: 2rem;
  width: 90%;
}
.mapParagraph {
  width: 90%;
  font-size: 1.2rem;
  line-height: 1.7rem;
  letter-spacing: 1px;
}
.topBtnContainer {
  margin-top: calc(80vw * 3 / 2 - 70vw);
}

.audioPlayer {
  height: calc(min(80vw, 400px) * 1.7);
}
p.locTxt {
  font-size: 20px;
}
.coordTxt {
  font-size: 16px;
}
.trackStoryTxt {
  width: 100%;
  margin: 0;
  padding: 30px 20px 0 60px;
}
.skipBtn {
  width: 36px;
  height: 36px;
}
.playBtn {
  width: 48px;
  height: 48px;
}
.playBtn svg {
  width: 30px;
  height: auto;
}
.skipBtn svg {
  width: 24px;
  height: auto;
}
.trackTitle h2 {
  font-size: 1rem;
}

p.shareTitle {
  padding: 10px 0;
}
.socialBtn {
  width: 40px;
  height: 40px;
}
p.shareTxt {
  font-size: 12px;
  padding: 6px 0;
}
.shareLink {
  padding: 8px 12px;
  height: auto;
  gap: 0;
  margin: 0 20px;
}
.shareLink button {
  margin-left: 4px;
}
